This is cart page!
<style type="text/css">
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even){background-color: #f2f2f2;}

    #customers tr:hover {background-color: #ddd;}

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
</style>

<div>
    <table id="customers">
        <tr>
            <th>Quantity</th>
            <th>Product</th>
            <th>Price</th>
        </tr>
        {% for item in cart.items %}
        <tr>
            <td> {{ item.product }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
        </tr>
        {% endfor %}

    </table>
    <tr>
        <th>Total:</th>>
        <td>{{ total1 }}</td>
    </tr>
</div>
</div>